/*! _normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: white;
  color: black;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  cursor: default;
}

html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

a {
  background: transparent;
}
a:focus {
  outline: 0;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

p,
pre {
  margin: 0 0 1em;
}
p.last,
pre.last {
  margin: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: 0;
  -moz-outline: 0;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active {
  outline: 0;
  -moz-outline: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  font-weight: normal;
}

body {
  padding: 50px 0;
  font: normal 14px Consolas;
}

.content-wrapper {
  width: 600px;
  margin: 0 auto;
}

.help-text, .pastures, .controls, .command {
  margin: 0 0 15px 0;
}

.pasture {
  float: left;
  margin: 5px;
  width: 277px;
}
.pasture .title {
  margin: 0 0 3px 0;
}
.pasture select {
  width: 100%;
  height: 100px;
  overflow: scroll-y;
}
.pasture select option {
  text-align: right;
  padding-right: 10px;
}

.controls:after, .command:after {
  content: "";
  display: table;
  clear: both;
}

.update_data, .command-text {
  float: left;
}

.kill_all, .command_run {
  float: right;
}

.command_text {
  padding-left: 5px;
  padding-right: 5px;
  width: 490px;
}
