@import normalize

$content_width: 600px

body
	padding: 50px 0
	font: normal 14px Consolas

.content-wrapper
	width: $content_width
	margin: 0 auto

.help-text, .pastures, .controls, .command
	margin: 0 0 15px 0

.pasture
	float: left
	margin: 5px
	width: 277px
	.title
		margin: 0 0 3px 0
	select
		width: 100%
		height: 100px
		overflow: scroll-y
		option
			text-align: right
			padding-right: 10px

.controls:after, .command:after
	content: ""
	display: table
	clear: both

.update_data, .command-text
	float: left

.kill_all, .command_run
	float: right

.command_text
	padding-left: 5px
	padding-right: 5px
	width: 490px

